<div class="row row-1-container">
    <div class="col-md-5 image-box">
        <img src="#" alt="image">
    </div>
    <div class="col-md-5 why-list-container">
        <ul class="why-list">
            <li class="why-list-item">&#10003; Quick Response</li>
            <li class="why-list-item">&#10003; Quality Service</li>
            <li class="why-list-item">&#10003; Affordable Prices</li>
        </ul>
    </div>
</div>

<div class="row-2-container">
    <img src="#" alt="profile">
    <p class="description">Heres a description.</p>
    <div class="socialButtons">
        <!-- TODO social buttons in li here -->
    </div>
</div>




